@import "tailwindcss";

/* Apply fonts: Roboto for body, Roboto Mono for headings */
html, body {
	font-family: 'Roboto', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

h1, h2, h3, h4, h5, h6 {
	  font-family: "Montserrat", sans-serif;
}

/* Optional: tweak heading weights */
h1 { font-weight: 700; }
h2 { font-weight: 600; }
h3 { font-weight: 600; }